documentation

001-python-embed/build
001-python-embed/custom/__pycache__
001-python-embed/.vscode

002-test-gtkmm3/build
002-test-gtkmm3/.vscode

003-lambda-expressions/build
003-lambda-expressions/.vscode

004-node-graph/build
004-node-graph/.vscode
